.cards {
  .video__hover-wrap {
    padding-left: 10px;
    padding-right: 10px;
  }

  &--goods {
    background-color: #fff;

    .cards__list {
      @include list-scroll;
      padding-top: 6px;
      padding-bottom: 6px;
    }

    .cards__item {
      display: flex;
      flex-shrink: 0;
      width: fit-content;
    }

    .cards__hover {
      padding-top: 20px;
    }
  }
}

.cards__hover {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cards__list {
  @include list-scroll;
  padding-bottom: 15px;
}

.cards__item {
  &:last-of-type {
    .good__desc-wrap {
      border-right: none;
    }
  }
}

.cards__date {
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
}
