@mixin span14 {
	display: block;
	font-size: 14px;
	line-height: 100%;
}

@mixin span13 {
	display: block;
	font-size: 13px;
	line-height: 100%;
}

.video-products-card {
	width: 100%;
	display: flex;
	flex-direction: column;
	margin-bottom: 20px;
	background: #FFFFFF;
	box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.12);
	border-radius: 8px;

	.good__sale {
		bottom: 5px !important;
		right: 5px !important;
		top: unset !important;
		left: unset !important;
	}

	&__top {
		padding: 20px;
		width: 100%;
	}

	&__basic-info {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-bottom: 17px;
		border-bottom: 1px solid #E5E5E5;
		margin-bottom: 10px;
		
		&__left {
			display: flex;
			align-items: center;

			img {
				width: 40px;
				height: 40px;
				border-radius: 50%;
				object-fit: cover;
				margin-right: 10px;
			}

			&__author {
				display: flex;
				flex-direction: column;

				.author {
					@include span14;
					color: black;
					font-weight: bolder;
				}
			}
		}

		&__right {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: flex-end;

			.stream-starts-at, .date {
				@include span14;
				font-weight: normal;
			}

			.stream-starts-at {
				color: #979797;
				margin-bottom: 6px;
			}

			.date {
				color: black;
			}

			.live {
				display: flex;
				align-items: center;

				span {
					font-size: 12px;
					line-height: 12px;
					text-transform: uppercase;
					color: #000000;
				}

				&:before {
					content: '';
					display: block;
					margin-right: 5px;
					width: 6px;
					height: 6px;
					background: #FF1C1C;
					border-radius: 50%;
				}
			}
		}
	}

	&__title {
		font-size: 16px;
		line-height: 20px;
		color: #000000;
		margin-bottom: 0;
		font-weight: 400;
	}

	&__video {
		width: 100%;
		padding-bottom: 56.3%;
		position: relative;

		.thumbnail {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			min-height: 200px;
			max-height: 700px;
			object-fit: cover;
		}

		.reminder {
			padding: 13px 40px;
			background: rgba(0, 0, 0, 0.56);
			font-size: 12px;
			line-height: 15px;
			text-align: center;
			color: #FFFFFF;
			font-weight: 400;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			z-index: 1;
			text-transform: uppercase;
		}

		.video {
			position: relative;

			&:after {
				content: '';
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background: rgba(0,0,0,.5);
			}
		}

		.icon-play {
			display: block;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 72px;
			height: 72px;
			z-index: 1;
		}
	}

	&__products {
		position: relative;
	}
}

@media (max-width: 1400px) {
	.video-products-card {
		&__video {
			img {
				max-height: 420px;
			}
		}
	}
}

@media (max-width: 700px) {
	.video-products-card {
		&__basic-info {
			&__left {
				img {
					width: 32px;
					height: 32px;
				}

				&__author {
					.author {
						font-size: 12px;
					}

					.author {
						margin-bottom: 5px;
					}
				}
			}

			&__right {
				.stream-starts-at, .date {
					font-size: 12px;
				}

				.stream-starts-at {
					margin-bottom: 5px;
				}
			}
		}

		&__title {
			font-size: 14px;
		}
	}
}

@media (max-width: 550px) {
	.video-products-card {
		border-radius: 0;

		&__basic-info {
			border-bottom: none;
			padding-bottom: 0;
			margin-bottom: 7px;
		}
	}
}